# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Create and format markdown cells in a Jupyter Notebook  
- Use Jupyter Notebook features for data analysis  
- Understand tools and environments used in Data Science

### Some of the popular languages that Data Scientists use are:
1. Python
2. R language
3. Java

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. TensorFlow

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply and then add integers
print((3*4)+5)

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
print(200/60)

3.3333333333333335

## Author

Prem Aravind